<div class="nav-container">
        <div class="top-nav"><a href="{{site.url}}/index.html" class="top-nav-border">Bounties</a><a href="{{site.url}}/rules.html#23-rewards-list"
                        class="top-nav-border">Rewards</a><a href="{{site.url}}/rules.html" class="top-nav-border">Rules</a><a href="{{site.url}}/blog.html">Blog</a></div>
        <div class="nav-corner">
                <a href="https://github.com/dashincubator" target="_blank"><img src="{{site.url}}/assets/image/github-1.svg" alt="Dash Incubator on GitHub"></a>
                <a href="https://twitter.com/dashincubator" target="_blank"><img src="{{site.url}}/assets/image/twitter.svg" alt="Dash Incubator on Twitter"></a>
                <a href="http://chat.dashdevs.org" target="_blank"><img src="{{site.url}}/assets/image/discord.svg" alt="Chat on the Dash Dev Discord"></a>
                <a href="http://dash.org" target="_blank"><img src="{{site.url}}/assets/image/white-d.svg" alt="More about Dash"></a>
        </div>
        <a href="./"><img class="nav-logo" src="{{site.url}}/assets/image/logo.png" alt="incubator logo"></a>
</div>